/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

html.dark {
  --line-color: rgb(0, 0, 0);
}

.borderBlack {
  @apply border border-black/10;
}
